* {
    //border: 2px solid pink;
    //margin: 1px;
}

body {
    text-align: center;
}

.title {
    font-size: 45px;
}

.images-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    //border: 2px solid red;
    justify-content: center;
}
.main-images {
    width: 250px;
    height: auto;
    margin: 5px;
}

.win-loose {
    display: flex;
    justify-content: center;
}

.sides-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.choice-container {
    border: solid black 3px;
    width: 200px;
    height: 200px;
}


.choice-images {
    width: 200px;
    display: none;
}