/* * {
    border: 2px solid pink;
    //margin: 1px; 
}*/

body {
    text-align: center;
}

.title {
    font-size: 45px;
    margin: 40px 4px 15px 4px;
}

.images-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 263px;
    
    justify-content: center;
    align-items: center;

}

#images-and-round {
    width: 100%;
    height: 312px;
}

.main-images {
    width: 250px;
    height: auto;
    margin: 5px;
    cursor: pointer;
    display: none;
}

#play-again {
    display: inline;
    cursor: pointer;
    font-size: 50px;
    padding: 30px;
    border-radius: 14px;
}

.win-loose {
    display: flex;
    justify-content: center;
}

.sides-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.choice-container {
    border: solid black 3px;
    width: 200px;
    height: 200px;
}

.choice-images {
    width: 200px;
    display: none;
}

.bounce-and-green-shadow {
    animation-duration: 0.3s;
    animation-name: myBounce, myShadowGreen;
}

.bounce-and-red-shadow {
    animation-duration: 0.3s;
    animation-name: myBounce, myShadowRed;
}

.bounce-and-yellow-shadow {
    animation-duration: 0.3s;
    animation-name: myBounce, myShadowYellow;
}

@keyframes myBounce {
    0% {
        scale: 1;
    }

    65% {
        scale: 1.01;
    }

    100% {
        scale: 1;
    }
}

@keyframes myShadowGreen {
    0% {
        box-shadow: 0 0 0px 0px greenyellow;
    }

    65% {
        box-shadow: 0 0 13px 12px greenyellow;
    }

    100% {
        box-shadow: 0 0 0px 0px greenyellow;
    }
}

@keyframes myShadowRed {
    0% {
        box-shadow: 0 0 0px 0px red;
    }

    65% {
        box-shadow: 0 0 13px 12px red;
    }

    100% {
        box-shadow: 0 0 0px 0px red;
    }
}

@keyframes myShadowYellow {
    0% {
        box-shadow: 0 0 0px 0px yellow;
    }

    65% {
        box-shadow: 0 0 13px 12px yellow;
    }

    100% {
        box-shadow: 0 0 0px 0px yellow;
    }
}