@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* * {
    border: 2px solid pink;
    //margin: 1px; 
}*/

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6EB;
}

p {
    font-weight: 500;
    font-size: 30px;
}

.title {
    font-size: 45px;
    font-weight: 700;
    margin: 40px 4px 15px 4px;
}

.images-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 263px;
    justify-content: center;
    align-items: center;
}

#images-and-round {
    width: 100%;
    height: 312px;
}

.main-images {
    width: 250px;
    height: auto;
    margin: 5px;
    cursor: pointer;
    display: none;
}

#play-again {
    display: inline;
    cursor: pointer;
    font-size: 50px;
    padding: 30px;
    border-radius: 14px;
}

.win-loose {
    display: flex;
    justify-content: center;
}

.sides-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-text {
    margin: 10px auto 10px auto;
}

#round-p {
    margin: 10px auto 30px auto;
}

.choice-container {
    border: solid black 3px;
    width: 200px;
    height: 200px;
}

.green-background {
    background-color: #98D8AA;
}

.red-background  {
    background-color: #FF6D60;
}

.yellow-background {
    background-color: #F7D060;
}

.choice-images {
    width: 200px;
    display: none;
}

.bounce-and-green-shadow {
    animation-duration: 0.3s;
    animation-name: myBounce, myShadowGreen;
}

.bounce-and-red-shadow {
    animation-duration: 0.3s;
    animation-name: myBounce, myShadowRed;
}

.bounce-and-yellow-shadow {
    animation-duration: 0.3s;
    animation-name: myBounce, myShadowYellow;
}

@keyframes myBounce {
    0% {
        scale: 1;
    }

    65% {
        scale: 1.01;
    }

    100% {
        scale: 1;
    }
}

@keyframes myShadowGreen {
    0% {
        box-shadow: 0 0 0px 0px #98D8AA;
    }

    65% {
        box-shadow: 0 0 13px 12px #98D8AA;
    }

    100% {
        box-shadow: 0 0 0px 0px #98D8AA;
    }
}

@keyframes myShadowRed {
    0% {
        box-shadow: 0 0 0px 0px #FF6D60;
    }

    65% {
        box-shadow: 0 0 13px 12px #FF6D60;
    }

    100% {
        box-shadow: 0 0 0px 0px #FF6D60;
    }
}

@keyframes myShadowYellow {
    0% {
        box-shadow: 0 0 0px 0px #F7D060;
    }

    65% {
        box-shadow: 0 0 13px 12px #F7D060;
    }

    100% {
        box-shadow: 0 0 0px 0px #F7D060;
    }
}